<section class="half">
   <div class="half__text half__text--centered">
      <p class="title title--top">Our Apartments</p>
      <ul class="values">
         <li data-img="images/placeholder1.jpg">
            <a href="#">Apartment 1</a>
         </li>
         <li data-img="images/placeholder3.jpg">
            <a href="#">Apartment 2</a>
         </li>
         <li data-img="images/placeholder4.jpg">
            <a href="#">Apartment 3</a>
         </li>
         <li data-img="images/placeholder1.jpg">
            <a href="#">Apartment 4</a>
         </li>
      </ul>
   </div>

   <div class="half__image">
      <img src="/images/placeholder2.jpg" alt="">
   </div>
</section>