<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white"><a class="navbar-brand" href="/"><strong>Modular</strong> Multiespazo</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" data-scroll href="/#sobre-nos">Sobre nós<span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" data-scroll href="/#tarifas">Tarifas</a></li>
      <li class="nav-item"><a class="nav-link" data-scroll href="/#onde-estamos">Onde estamos</a></li>
      {# <li class="nav-item"><a class="nav-link" href="#">GL</a></li> #}
    </ul>
  </div>
  <a class="btn btn-outline-primary mt-2 mt-md-0 ml-lg-3" data-scroll href="/#contacto">Contactar</a>
</nav>
