<nav class="navbar navbar-expand-lg navbar-light"><a class="navbar-brand" href="#"><strong>Modular</strong> Multiespazo</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="#">Sobre nós<span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#">Tarifas</a></li>
      {# <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li> #}
      {# <li class="nav-item"><a class="nav-link" href="#">GL</a></li> #}
    </ul><a class="btn btn-outline-primary mt-2 mt-md-0 ml-lg-3" href="#">Contactar</a>
  </div>
</nav>
