---
layout: layouts/base.njk
---

<div class="content">

   <section class="about">
      {% include "includes/logo.njk" %}
      <div class="about__text">
         <h1>About Love Hvar</h1>
         <p class="lead">Love Hvar would never be possible without the generous collaboration and support from so many people who believed in the idea that what and how we do beautifies the world we live. That the care and love we put in our doings matters as much as how and what we say. The interconnection of kindred souls that saw the grace in every invisible detail, the beauty of craft and objects done in workshops instead of sweatshops.</p>
         <p>It was also rediscovering the almost forgotten skills of craftsman from the country I was born. The tile workers from Macedonia, the woodcraft from Bosnia and Hercegovina, the design from Croatia, the technical skills from Slovenia. The love and dedication they placed in their work has no words to express my gratitude.</p>
         <p>As for me, It was an exploration; pulling the thread on a family house, undoing the knots of the past, while facing the   unknown of what is coming.<br>In the process, unaware, the way one carries the dreams through the night, memories and feelings kept weaving into each detail of the house. Time present and time past. Places I lived, people I met, friends that nurtured with unconditional kindness, the tough and tender lovers that shaped me into what I am today.
         </p>
         <p>Above all, Love Hvar is the expression of my heart and soul. The way I am dazzled by the unearthly beauty of this place I was born. The gift I would like to pass along to others: moments of wellbeing offered to all.</p>
         <p>In the end, as one can never escape himself in anything he does, by building this house the story of my life kept unfolding, balancing between hopes and possibility.<br>As the poet William Straford said:</p>
         <p>“It's a balance, the taking and passing along,<br>
            the composting of where you've been and how people<br>
            and weather treated you. It's a country where<br>
            you already are, bringing where you have been.<br>
            Time offers this gift in its millions of ways,<br>
            turning the world, moving the air, calling,<br>
            every morning, "Here, take it, it's yours."</p>
         
         <img src="/images/signature.png" alt="">
         <img src="/images/about.jpg" alt="">
      </div>
   </section>

   {% include "includes/apartments-block.njk" %}
   
</div>