---
layout: layouts/base.njk
title: "Index"
---

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 my-md-auto">
        <p class="mb-4"></p>
        <h2 class="display-4 mb-4">Cultura,
          <br>coworking
          <br>e outras cousiñas</h2>
        <h1 class="display-1 mb-3">
          <strong>Modular</strong>
          Multiespazo</h1>
        {# <a href="#">Read more &raquo;</a> #}
      </div>
      <div class="col-md-6"><img class="img-fluid" src="images/modular-multiespazo-coworking-santiago-compostela.jpg" alt=""></div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <h2 class="display-4 mb-4">Sobre nos</h2>
      </div>
      <div class="col-md-6">
        <p class="mb-5 display-4">Somos un coworking con 12 espazos, acceso 24/7 para os membros, fibra óptica de alta velocidade, cociña e terraza con vistas á catedral.</p>
        <p class="mb-5 display-4">Queremos crear una comunidade agradable e activa na que cada un poida desenvolver a súa a actividade e colaborar entre os diferentes membr@s.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mb-5">
        <img class="img-fluid" src="images/modular-multiespazo-oficina-compartida-coworking.jpg" alt="">
      </div>
      <div class="col-md-8">
        <img class="img-fluid" src="images/modular-multiespazo-oficina-compartida-coworking.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <h2 class="display-4 mb-4">Sobre nos</h2>
      </div>
      <div class="col-md-6">
        <p class="mb-5 display-4">Ademáis teremos exposicións temporáis de arte para promover artistas de diferentes ámbitos.</p>
        <p class="mb-5 display-4">Se coñecedes xente que esté interesada en compartir espazo para traballar a gusto e tranquilo, xa sabedes, por aquí estamos dispoñibles para todos eles.</p>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="tab-content">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="">
              <th class="border-top-0"></th>
              <th class="border-top-0">Posto fixo
                <span>24/7</span></th>
              <th class="border-top-0">Posto flexible
                <span>media xornada</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Acceso</td>
              <td>Ilimitado 24/7</td>
              <td>Luns a venres 4h</td>
            </tr>
            <tr>
              <td>Mesa</td>
              <td>Fixa. A mesa será excusivamente túa. :)</td>
              <td>Flexible</td>
            </tr>
            <tr>
              <td>Internet 500/50Mb</td>
              <td>✓</td>
              <td>✓</td>
            </tr>
            <tr>
              <td>Rede por cable</td>
              <td>✓</td>
              <td></td>
            </tr>
            <tr>
              <td>Impresora laser B/N</td>
              <td>✓</td>
              <td></td>
            </tr>
            <tr>
              <td>Espazo para gardar as túas cousas</td>
              <td>✓</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0"><img class="img-fluid" src="images/modular-multiespazo-catedral-santiago-compostela-centro.jpg" alt=""></div>
      <div class="col-md-6">
        <p class="mb-3 display-4">Estamos no centro de Santiago de Compostela. Na Rúa do Pombal 35, baixo. Vén visitarnos</p>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="https://g.page/modular-santiago?share" target="_blank">Rúa do Pombal, 35 Baixo
              <br>(Santiago de Compostela)</a>
          </li>
          <li>Parking: A 2 minutos, zona de larga estancia Campus Sur (4h->1€)</li>
          <li class="">+34 675 633 121 (Iago)</li>
          <li class="mb-2">+34 675 633 121 (Tobias)</li>
          <li class="mb-2">
            <a href="mailto:info@somosmodular.com">info@somosmodular.com</a>
          </li>
          <li>Facebook:
            <a href="https://www.facebook.com/modular.coworking.santiago/">@modular.coworking.santiago</a>
          </li>
          <li>Instagram:
            <a href="https://www.instagram.com/modular.santiago/">@modular.santiago</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
