---
layout: layouts/base.njk
title: "Index"
---

<section class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 my-md-auto">
        <p class="mb-4"></p>
        <h2 class="display-4 mb-4">Cultura,
          <br>coworking
          <br>e outras cousiñas</h2>
        <h1 class="display-1 mb-3">
          <strong>Modular</strong>
          Multiespazo</h1>
      </div>
      <div class="col-md-6"><img loading="auto" class="img-fluid" src="images/modular-multiespazo-coworking-santiago-compostela.jpg" alt=""></div>
    </div>
  </div>
</section>
<section id="sobre-nos" class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-md-0">
        <h2 class="display-4 mb-4">Sobre nós</h2>
      </div>
      <div class="col-md-6">
        <p class="mb-4 display-4">Somos un espazo de coworking en Santiago de Compostela con acceso 24/7 para os membros, fibra óptica de alta velocidade, cociña e terraza con vistas á catedral.</p>
        <p class="mb-4 display-4">Queremos crear unha comunidade agradable e activa na que cada un poida desenvolver a súa actividade e colaborar entre os diferentes membr@s.</p>
        <p class="mb-4 display-4">Ademáis teremos exposicións temporais de arte para promover artistas de diferentes ámbitos.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row mb-7">
      <div class="col-md-8">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-oficina-compartida-coworking.jpg" alt="">
      </div>
    </div>
    <div class="row justify-content-around mb-7">
      <div class="col-md-3 mb-7">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-rotulo-entrada-cultura-coworking-santiago-compostela.jpg" alt="">
      </div>
      <div class="col-md-5">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-entrada-cultura-coworking-santiago-compostela.jpg" alt="">
      </div>
    </div>
    <div class="row ml-n7">
      <div class="col-md-10">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-coworking-estanteria.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section id="tarifas" class="py-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <h2 class="display-4 mb-4">Tarifas 2020</h2>
      </div>
      <div class="col-md-6">
        <p class="mb-4 display-4">Temos 8 postos fixos e 4 postos flexibles preparados para entrar a traballar dun día para outro. </p>
        <p class="display-4">Con tódalas comodidades para sentirte coma na túa casa, pero sen tódalas cousas malas que ten traballar na casa :)</p>
      </div>
    </div>
  </div>
</section>
<section class="pb-7">
  <div class="container">
    <div class="tab-content">
      <div class="table-responsive">
        <table class="table h6">
          <thead>
            <tr>
              <th class="border-top-0 narrow"></th>
              <th class="border-top-0 bg-secondary wide">
                <p class="mb-5"><strong>Posto fixo*</strong><br>
                  <span>24/7</span></p>
                <p class="text-muted mb-0">160€/mes + IVE</p>

              </th>
              <th class="border-top-0 wide">
                <p class="mb-5 tachado"><strong>Posto flexible**</strong><br>
                  <span>media xornada</span></p>
                <p class="text-muted tachado mb-0">95€/mes + IVE</p></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Acceso</td>
              <td class="bg-secondary">Ilimitado 24/7</td>
              <td class="tachado">Luns a venres 4h</td>
            </tr>
            <tr>
              <td>Mesa</td>
              <td class="bg-secondary">Fixa. A mesa será exclusivamente túa :)</td>
              <td class="tachado">Flexible</td>
            </tr>
            <tr>
              <td>Fibra óptica 500/50Mb</td>
              <td class="bg-secondary">✓</td>
              <td class="tachado">✓</td>
            </tr>
            <tr>
              <td>Sala de reunións privada</td>
              <td class="bg-secondary">✓</td>
              <td class="tachado">✓</td>
            </tr>
            <tr>
              <td>Rede por cable</td>
              <td class="bg-secondary">✓</td>
              <td class="tachado"></td>
            </tr>
            <tr>
              <td>Impresora láser B/N</td>
              <td class="bg-secondary">✓</td>
              <td></td>
            </tr>
            <tr>
              <td>Espazo para gardar as túas cousas</td>
              <td class="bg-secondary">✓</td>
              <td></td>
            </tr>
            <tr>
              <td>Servizo de limpeza</td>
              <td class="bg-secondary">✓</td>
              <td class="tachado">✓</td>
            </tr>
            <tr >
              <td class="border-bottom">Acceso ás zonas comúns: <br>
                - Cociña totalmente equipada<br>
                - Terraza con vistas á catedral</td>
              <td class="border-bottom bg-secondary">✓</td>
              <td class="border-bottom tachado">✓</td>
            </tr>
          </tbody>
        </table>
        <p class="text-muted mb-0">* Ningún dos postos ten permanencia, se queres deixar o sitio únicamente
tes que avisar cun mes de antelación. </p>
<p class="text-muted">** Os postos flexibles están temporalmente bloqueados. </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row mb-7 justify-content-end ">
      <div class="col-md-9">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-coworking-terraza-vistas-catedral-pet-friendly-mascotas.jpg" alt="">
      </div>
    </div>
    {# <div class="row mb-7">
      <div class="col-md-6">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-exposicion-ivan-barreiro-cultura-coworking-santiago-compostela.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-espacio-coworking-alquiler-sala-santiago-compostela.jpg" alt="">
      </div>
    </div> #}
    <div class="row mb-7 justify-content-between">
      <div class="col-md-8 mb-7 mb-md-0">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-coworking-area-descanso-santiago-compostela.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-cocina-entrada-alameda-coworking.jpg" alt="">
      </div>
    </div>
    <div class="row mb-7">
      <div class="col-md-4 mb-7 mb-md-0 p-md-5 p-lg-7 align-self-center">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-coworking-diseno-interiorismo-espacio.jpg" alt="">
      </div>
      <div class="col-md-8">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-exposicion-ivan-barreiro-cultura-coworking-santiago-compostela.jpg" alt="">
      </div>
    </div>
    <div class="row mb-8">
      <div class="col-md-4 mb-7 mb-md-0">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-coworking-relax-ping-pong-2.jpg" alt="">
      </div>
      <div class="col-md-4 mb-7 mb-md-0">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-coworking-relax-ping-pong.jpg" alt="">
      </div>
      <div class="col-md-4">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-coworking-espacio-coworking.jpg" alt="">
      </div>
    </div>
    {# <div class="row mb-7">
      <div class="col-md-6">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-alquiler-espacios-santiago-compostela.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img loading="lazy" class="img-fluid" src="images/modular-multiespazo-coworking-relax-ping-pong-pet-friendly-mascotas.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img loading="lazy" class="img-fluid" src="images/_DSF3379.jpg" alt="">
      </div>
    </div> #}
  </div>
</section>
<section id="onde-estamos" class="my-4 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0"><img loading="lazy" class="img-fluid" src="images/modular-multiespazo-catedral-santiago-compostela-centro.jpg" alt=""></div>
      <div class="col-md-6">
        <p class="display-4 mb-4">Estamos no centro de Santiago de Compostela ao lado da Alameda, tan só a 5 minutos da Catedral.</p>
        <div class="row mb-3">
          <div class="col-6">
            <p class="h4 mb-0">
              <a class="no-br" href="https://g.page/modular-coworking-santiago?share" target="_blank">Rúa do Pombal 35,<br>Stg. De Compostela <br>15705 (A Coruña)</a>
            </p>
          </div>
          <div class="col-6">
            <p class="h6 text-muted">Se vés en coche, podes aparcar no Campus Sur, a 5 minutos a pé, no parking de Longa Estancia.</p>
          </div>
        </div>
        <ul class="list-unstyled h4">
          <li class="mb-3">
            <span class="text-muted">Escríbenos a:<br></span>
            <a href="mailto:info@somosmodular.com" target="_blank">info@somosmodular.com</a>
          </li>
          <li class="">
            <span class="text-muted">Síguenos en:<br></span>
            <a href="https://www.instagram.com/modular.santiago/" target="_blank">Instagram</a><br>
            <a href="https://www.facebook.com/modular.coworking.santiago/" target="_blank">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="contacto" class="my-4 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <p class="display-4 mb-4">Contacta con nós</p>
        <p class="h6 mb-4">Cóntanos o que tes en mente. Tanto sexa para alugar un posto coma se só queres información. Tentaremos contestar o antes posible.</p>
        <div data-arengu-form-id="163224948428458064"></div>
      </div>
      <div class="col-md-6"><img loading="lazy" class="img-fluid" src="images/_DSF3379.jpg" alt=""></div>
    </div>
  </div>
</section>
