---
layout: layouts/base.njk
title: "Index"
---

<section class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 my-md-auto">
        <p class="mb-4"></p>
        <h2 class="display-4 mb-4">Cultura,
          <br>coworking
          <br>e outras cousiñas</h2>
        <h1 class="display-1 mb-3">
          <strong>Modular</strong>
          Multiespazo</h1>
        {# <a href="#">Read more &raquo;</a> #}
      </div>
      <div class="col-md-6"><img class="img-fluid" src="images/modular-multiespazo-coworking-santiago-compostela.jpg" alt=""></div>
    </div>
  </div>
</section>
<section id="sobre-nos" class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-md-0">
        <h2 class="display-4 mb-4">Sobre nós</h2>
      </div>
      <div class="col-md-6">
        <p class="mb-4 display-4">Somos un espazo de coworking en Santiago de Compostela con acceso 24/7 para os membros, fibra óptica de alta velocidade, cociña e terraza con vistas á catedral.</p>
        <p class="mb-4 display-4">Queremos crear una comunidade agradable e activa na que cada un poida desenvolver a súa a actividade e colaborar entre os diferentes membr@s.</p>
        <p class="mb-4 display-4">Ademáis teremos exposicións temporáis de arte para promover artistas de diferentes ámbitos.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row mb-7">
      <div class="col-md-8">
        <img class="img-fluid" src="images/modular-multiespazo-oficina-compartida-coworking.jpg" alt="">
      </div>
    </div>
    <div class="row justify-content-around mb-7">
      <div class="col-md-3 mb-7">
        <img class="img-fluid" src="images/modular-multiespazo-rotulo-entrada-cultura-coworking-santiago-compostela.jpg" alt="">
      </div>
      <div class="col-md-5">
        <img class="img-fluid" src="images/modular-multiespazo-entrada-cultura-coworking-santiago-compostela.jpg" alt="">
      </div>
    </div>
    <div class="row ml-n7">
      <div class="col-md-10">
        <img class="img-fluid" src="images/modular-multiespazo-coworking-estanteria.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section id="tarifas" class="py-7">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <h2 class="display-4 mb-4">Tarifas 2020</h2>
      </div>
      <div class="col-md-6">
        <p class="mb-4 display-4">Temos 8 postos fixos e 4 postos flexibles. Preparados para entrar a traballar dun día para outro. </p>
        <p class="display-4">Con tódalas comodidades para sentirte coma na túa casa, pero sen tódalas cousas malas que ten traballar en casa :)</p>
      </div>
    </div>
  </div>
</section>
<section class="pb-7">
  <div class="container">
    <div class="tab-content">
      <div class="table-responsive">
        <table class="table h6">
          <thead>
            <tr>
              <th class="border-top-0 narrow"></th>
              <th class="border-top-0 bg-secondary wide">
                <p class="mb-5"><strong>Posto fixo*</strong><br>
                  <span>24/7</span></p>
                <p class="text-muted mb-0">150€</p>

              </th>
              <th class="border-top-0 wide">
                <p class="mb-5"><strong>Posto flexible*</strong><br>
                  <span>media xornada</span></p>
                <p class="text-muted mb-0">95€</p></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Acceso</td>
              <td class="bg-secondary">Ilimitado 24/7</td>
              <td>Luns a venres 4h</td>
            </tr>
            <tr>
              <td>Mesa</td>
              <td class="bg-secondary">Fixa. A mesa será excusivamente túa. :)</td>
              <td>Flexible</td>
            </tr>
            <tr>
              <td>Internet 500/50Mb</td>
              <td class="bg-secondary">✓</td>
              <td>✓</td>
            </tr>
            <tr>
              <td>Rede por cable</td>
              <td class="bg-secondary">✓</td>
              <td></td>
            </tr>
            <tr>
              <td>Impresora laser B/N</td>
              <td class="bg-secondary">✓</td>
              <td></td>
            </tr>
            <tr>
              <td>Espazo para gardar as túas cousas</td>
              <td class="bg-secondary">✓</td>
              <td></td>
            </tr>
            <tr>
              <td>Servicio de limpeza</td>
              <td class="bg-secondary">✓</td>
              <td>✓</td>
            </tr>
            <tr >
              <td class="border-bottom">Acceso ás zonas comúns: <br>
                - Cociña totalmente equipada<br>
                - Terraza con vistas á catedral<br>
                - Zona de Reunións</td>
              <td class="border-bottom bg-secondary">✓</td>
              <td class="border-bottom">✓</td>
            </tr>
          </tbody>
        </table>
        <p class="text-muted">* Ningún dos postos ten permanencia, se queres deixar o sitio únicamente
tes que avisar con 1 mes de antelación. </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row mb-7 justify-content-end ">
      <div class="col-md-9">
        <img class="img-fluid" src="images/modular-multiespazo-coworking-terraza-vistas-catedral-pet-friendly-mascotas.jpg" alt="">
      </div>
    </div>
    {# <div class="row mb-7">
      <div class="col-md-6">
        <img class="img-fluid" src="images/modular-multiespazo-exposicion-ivan-barreiro-cultura-coworking-santiago-compostela.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="images/modular-multiespazo-espacio-coworking-alquiler-sala-santiago-compostela.jpg" alt="">
      </div>
    </div> #}
    <div class="row mb-7 justify-content-between">
      <div class="col-md-8 mb-7 mb-md-0">
        <img class="img-fluid" src="images/modular-multiespazo-coworking-area-descanso-santiago-compostela.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="images/modular-multiespazo-cocina-entrada-alameda-coworking.jpg" alt="">
      </div>
    </div>
    <div class="row mb-7">
      <div class="col-md-4 mb-7 mb-md-0 p-md-5 p-lg-7 align-self-center">
        <img class="img-fluid" src="images/modular-multiespazo-coworking-diseno-interiorismo-espacio.jpg" alt="">
      </div>
      <div class="col-md-8">
        <img class="img-fluid" src="images/modular-multiespazo-exposicion-ivan-barreiro-cultura-coworking-santiago-compostela.jpg" alt="">
      </div>
    </div>
    <div class="row mb-8">
      <div class="col-md-4 mb-7 mb-md-0">
        <img class="img-fluid" src="images/modular-multiespazo-espacio-coworking-alquiler-sala-santiago-compostela.jpg" alt="">
      </div>
      <div class="col-md-4 mb-7 mb-md-0">
        <img class="img-fluid" src="images/modular-multiespazo-coworking-espacio-coworking.jpg" alt="">
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="images/modular-multiespazo-coworking-relax-ping-pong.jpg" alt="">
      </div>
    </div>
    {# <div class="row mb-7">
      <div class="col-md-6">
        <img class="img-fluid" src="images/modular-multiespazo-alquiler-espacios-santiago-compostela.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="images/modular-multiespazo-coworking-relax-ping-pong-pet-friendly-mascotas.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="images/_DSF3379.jpg" alt="">
      </div>
    </div> #}
  </div>
</section>
<section id="contacto" class="my-4 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0"><img class="img-fluid" src="images/modular-multiespazo-catedral-santiago-compostela-centro.jpg" alt=""></div>
      <div class="col-md-6">
        <p class="display-4 mb-4">Estamos no centro de Santiago de Compostela ó lado da Alameda, tan só a 5 minutos da Catedral.</p>
        <div class="row mb-3">
          <div class="col-6">
            <p class="h4 mb-0">
              <a class="no-br" href="https://g.page/modular-santiago?share" target="_blank">Rúa do Pombal 35,<br>Stg. De Compostela <br>15705 (A Coruña)</a>
            </p>
          </div>
          <div class="col-6">
            <p class="h6 text-muted">Se ves en coche, podes aparcar no Campus Sur, a 5 minutos a pé, no parking de Longa Estancia.</p>
          </div>
        </div>
        <ul class="list-unstyled h4">
          <li class="mb-3">
            <span class="text-muted">Escríbenos a:<br></span>
            <a href="mailto:info@somosmodular.com" target="_blank">info@somosmodular.com</a>
          </li>
          <li class="">
            <span class="text-muted">Síguenos en:<br></span>
            <a href="https://www.instagram.com/modular.santiago/" target="_blank">Instagram</a><br>
            <a href="https://www.facebook.com/modular.coworking.santiago/" target="_blank">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
