---
layout: layouts/base-clean.njk
title: "Links"
---

<section class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 my-md-auto">
        <p>
          <a class="bb-1" href="../">Web Somos Modular</a>
        </p>
      </div>
      <div class="col-md-6">
        <a href="https://elpais.com/economia/2021-06-08/el-teletrabajo-da-la-vuelta-al-coworking.html" target="_blank">Link El Pais</a>
      </div>
    </div>
  </div>
</section>
