---
layout: layouts/base-clean.njk
title: "Links"
---

<section class="py-6">
  <div class="container display1">
    <div class="row">
      <div class="col-md-6 mb-4 my-md-auto">
        <p class="border p-4 position-relative">
          <a href="/">Web <br><strong>Modular</strong> Multiespazo</a>
          {# <img class="w-100 mt-3" src="/images/modular-multiespazo-coworking-santiago-compostela.jpg" alt=""> #}
        </p>
      </div>
      <div class="col-md-6">
        <p class="w-100 border p-4">
          <a class="" href="https://elpais.com/economia/2021-06-08/el-teletrabajo-da-la-vuelta-al-coworking.html" target="_blank">Noticia El Pais <br><em>El teletrabajo da la vuelta al ‘coworking’</em></a>
        </p>
      </div>
    </div>
  </div>
</section>
